doctype html
html
   head
      title Hello MG 
   body
      p(style="color:red") Welcome All!! 
      h1(style="color:green") Students List!
      table(border="2" cellpadding="10") 
        thead 
            th FullName
                button sort
            th Email
                button sort
            th Mobile
                button sort
        if allstudents.length!=0
            each val in allstudents
                tr 
                    td #{val.fullname}
                    td #{val.email}
                    td #{val.mobile}
        else
            h1 no students
